* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: rgb(26, 201, 212);
    background: linear-gradient(153deg, rgba(26, 201, 212, 1) 17%, rgba(25, 1, 22, 1) 50%, rgba(233, 11, 60, 1) 83%);
}

.container,
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    min-width: 600px;
    height: 350px;
    flex-direction: column;
    border: 4px inset #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(216, 188, 4);
    background: rgb(197, 26, 212);
    background: linear-gradient(309deg, rgba(197, 26, 212, 1) 17%, rgba(22, 163, 189, 1) 50%, rgba(11, 233, 115, 1) 83%);
}
.spans{
    width: 150px;
    display: flex;
    gap: 20px;
    
}
.spans span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    background: #868484;
    border-radius: 10px;
    padding: 15px;
}
button {
    width: 120px;
    padding: 20px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn-start {
    background: rgb(17, 189, 11);
    background: linear-gradient(109deg, rgba(17, 189, 11, 1) 38%, rgba(14, 205, 240, 1) 58%, rgba(11, 187, 233, 1) 78%);
}

.btn-stop {
    background: rgb(189, 11, 11);
    background: linear-gradient(309deg, rgba(189, 11, 11, 1) 38%, rgba(14, 240, 181, 1) 58%, rgba(233, 11, 82, 1) 78%);
}